<section class="vh-100" style="background-color: #333;">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <!-- Aumenta más el tamaño de la columna para que ocupe más espacio horizontalmente -->
      <div class="col-md-10 col-lg-8 col-xl-7"> <!-- Se expandió más el tamaño -->
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-4 p-lg-5 text-black">
            <form >

              <!-- Titulo de la tarjeta (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm"-->
              <div class="d-flex align-items-center mb-3 pb-1">
                <span class="h1 fw-bold mb-0" style="color: #ff6219;">Bienvenido a PubliRevistas</span>
              </div>

              <!-- Subtítulo -->
              <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: #002;">Ingresa tus datos para ingresar
                al sistema</h5>

              <!-- Username Input -->
              <div class="form-outline mb-4">
                <input type="text" id="username" class="form-control form-control-lg" [(ngModel)]="loginData.username" name="username" />
                <label class="form-label" for="username" style="color: #fff;">Username</label>
              </div>

              <!-- Password Input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="loginData.password" name="password" />
                <label class="form-label" for="password" style="color: #fff;">Password</label>
              </div>

              <!-- Login Button -->
              <div class="pt-1 mb-4">
                <button type="submit" class="btn btn-dark btn-lg btn-block">Iniciar sesión</button>
              </div>

              <!-- Register Button -->
              <p class="mb-5 pb-lg-2" style="color: #002;">No tienes una cuenta?
                <button type="button" (click)="navigateTo('/registro')"
                  style="color: #ff6219; background: none; border: none; font-size: inherit; cursor: pointer;">Regístrate
                  aquí</button>
              </p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
